{% extends 'base.html.twig' %}

{% block content %}
	<div class="hero">
		<div class="pb-0 text-center hero-content">
			<div class="max-w-5xl">
				<h1 class="text-3xl font-bold md:text-5xl">{{ 'home.title'|trans }}</h1>
				<p class="pt-6">{{ 'home.description'|trans }}</p>
			</div>
		</div>
	</div>
	<div data-controller="swiper" class="swiper">
		<div class="swiper-wrapper">
			{% for country, medias in mediasByCountry %}
				{% set selectedMedia = random(medias|length - 1) %}
				<div class="shadow-xl card bg-base-100 swiper-slide" data-controller="media-selector">
					<div class="card-body">
						<div class="flex-row">
							<span class="fi fi-{{ country|lower }}"></span>
							<select data-media-selector-target="selector" class="w-full max-w-xs select">
								{% for index, media in medias %}
									<option {{ selectedMedia == index ? 'selected' }} value="{{ media.country ~ '/' ~ app.request.locale ~ '/' ~ media.filename }}" data-url="{{ media|media_url(app.request.locale) }}">{{ media.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<a href="{{ medias[selectedMedia]|media_url(app.request.locale) }}" data-media-selector-target="link">
						<figure><img data-media-selector-target="capture" src="/captures/{{ medias[selectedMedia].country }}/{{ app.request.locale }}/{{medias[selectedMedia].filename ~ '.png' }}"></figure>
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
{% endblock %}
